/* Tệp CSS tùy chọn để quản lý kiểu */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: calc(100% - 250px); /* Trừ phần sidebar */
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.sidebar h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 15px;
}
.sidebar button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar button:hover {
  background-color: #2980b9;
}
